[submodule "coding-agent/shared/MCP/mu-mcp"]
	path = coding-agent/shared/MCP/mu-mcp
	url = git@github.com:yiwenlu66/mu-mcp.git
[submodule "coding-agent/shared/MCP/PiloTY"]
	path = coding-agent/shared/MCP/PiloTY
	url = git@github.com:yiwenlu66/PiloTY.git
[submodule "coding-agent/shared/MCP/mcp-server-deep-research"]
	path = coding-agent/shared/MCP/mcp-server-deep-research
	url = git@github.com:yiwenlu66/mcp-server-deep-research.git
